<!-- 
   ================================
    Services start
    =================================
     -->
    <div class="services-area">
        <div class="container">
            <div class="row">
                <div class="col col-12 text-center">
                    <h2 class="section-title"><span>About</span> Tapp Solutions</h2>
                    <p>Tapp Solutions helps Life and P&C companies automate Sales, Claims and Inspections using Mobile Apps. Using our custom mobile applications, Insurance companies can sell higher quality policies faster,  collect payments anywhere, and complete more inspections with less work. </p>
					
					<a href="#" class="btn-mr tp-primary ">learn more</a>
                </div>
                <!-- end section tiitle -->
            </div>
            <div class="spacer-1"></div>
            <!-- end spacer -->
            
        </div>
    </div>
    <!-- 
   ================================
    Services End
    =================================
     -->