<!-- 
   ================================
    Slider area start
    =================================
     -->
    <div class="slider-area home__2">
        <div class="slider-active owl-carousel home__2">
            <div class="single-slider" style="background-image: url(/images/banner-bg.png)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);">
                <div class="slide-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <h2>Over 43,000</h2>
                                <p>Insurance Agents</p>
								<p>Use
									<strong> Our App To Sell</strong>
									Policies.</p>
                                <a href="#" class="btn-mr tp-primary ">Join Them</a>
                            </div>
							<div class="col-xl-6 col-md-6 col-sm-12">
								<img src="/images/mac.png/" alt="mac" class="img-bot">
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single slider -->
			
			<div class="single-slider" style="background-image: url(/images/banner-bg.png)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);">
                <div class="slide-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <h2>Second banner</h2>
                                <p>Insurance Agents</p>
								<p>Use
									<strong> Our App To Sell</strong>
									Policies.</p>
                                <a href="#" class="btn-mr tp-primary ">Join Them</a>
                            </div>
							<div class="col-xl-6 col-md-6 col-sm-12">
								<img src="/images/mac.png/" alt="mac" class="img-bot">
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end single slider -->
		</div>
	</div>




