<div class="section get-in-touch get--inTouchArea">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-12 col animation" data-animation="slideInLeft" data-animation-delay="0.1s">
				<h2 class="section-title"> <span>Get In </span>Touch </h2>
				<p class="text-desc">We help agents sell policies faster and easier than ever before using mobile technology. </p>
					<ul class="contact-info">
						<li>
							<span class="icon">
								<i class="fa fa-envelope"></i>
							</span>
							<span class="info">
								<h3>E-mail Address</h3>
								<p><a href="mailto:info@tappsolutions.com">info@tappsolutions.com</a></p>
							</span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-phone"></i>
								
							</span>
							<span class="info">
								<h3>Phone Number</h3>
								<p><a href="tel:(+1) 404-618-0606">(+1) 404-618-0606</a></p>
							</span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-map-marker"></i>
							</span>
							<span class="info">
								<h3>Location</h3>
								<p>3423 Piedmont RD NE Atlanta, GA 30305 USA</p>
							</span>
						</li>
					</ul>
					
				
			</div>
			 <div class="col-lg-6 col-md-12 col-12 col animation GetInBox contact-form" data-animation="slideInRight" data-animation-delay="0.2s">
				
                        <form>
                            <div class="form-row">
								<div class="col-md-5">
                                    <label>Your Name : </label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="name">
                                </div>
							</div>
							<div class="form-row">
								<div class="col-md-5">
                                    <label>Your Email Address :
 </label>
                                </div>
                                <div class="col-md-7">
                                    <input type="email" class="form-control" name="email">
                                </div>
							</div>
							<div class="form-row">
								<div class="col-md-5">
                                    <label>Subject : </label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="subject">
                                </div>
							</div>
							<div class="form-row">
								<div class="col-md-5">
                                    <label>Write something: </label>
                                </div>
                                <div class="col-md-7">
									<textarea class="form-control" name="write">
									</textarea >
                                    
                                </div>
							</div>
							
							
                            <div class="form-row">
								<div class="col-md-5 ">
										&nbsp;
                                </div>
								<div class="col-md-7">
										<button type="submit" class="btn-mr tp-primary ">SEND</button>
                                </div>
                                
                            </div> 
                        </form>
			 
			 </div>
		</div>
	</div>
	<div id="googleMapwww" class="google-map"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.5874883016527!2d-84.37557378479029!3d33.84874738066177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50f5fbcbfb52d%3A0xd68cab62b57aabf!2s3423+Piedmont+Rd+NE%2C+Atlanta%2C+GA+30305%2C+USA!5e0!3m2!1sen!2sin!4v1543715026725" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>
			