{{ template "_internal/google_analytics.html" . }}
    <!-- jquery  scripts -->
    <script src="{{ .Site.BaseURL }}js/jquery-2.2.4.min.js"></script>
    <!-- poper js -->
    <script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
    <!-- jquery waypoints -->
    <script src="{{ .Site.BaseURL }}js/waypoints.min.js"></script>
    <!-- end paralax -->
    <script src="{{ .Site.BaseURL }}js/skrollr.min.js"></script>
    <!-- youtube background -->
    <script src="{{ .Site.BaseURL }}js/jquery.mb.YTPlayer.min.js"></script>
    <!-- jquery coundown -->
    <script src="{{ .Site.BaseURL }}js/jquery.countdown.min.js"></script>
    <!-- jquery counter up -->
    <script src="{{ .Site.BaseURL }}js/jquery.counterup.min.js"></script>
    <!-- jquery magnify popup -->
    <script src="{{ .Site.BaseURL }}js/jquery.magnific-popup.min.js"></script>
    <!-- jquery scoll up -->
    <script src="{{ .Site.BaseURL }}js/jquery.scrollUp.min.js"></script>
    <!-- jquey owl carsole -->
    <script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
    <!-- jquery paartcile js -->
    <script src="{{ .Site.BaseURL }}js/particles.min.js"></script>
    <!-- jquey title js -->
    <script src="{{ .Site.BaseURL }}js/tilt.jquery.min.js"></script>
    <!-- jquery slider range -->
    <script src="{{ .Site.BaseURL }}js/slider-range.js"></script>
	<!-- map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7CQl6fRhagGok6CzFGOOPne2X1u1spoA"></script>
    <script src="{{ .Site.BaseURL }}js/map.js"></script>
    <!-- app js -->
    <script src="{{ .Site.BaseURL }}js/app.js"></script>