 <!-- 
   ================================
    Speciall offer start
    =================================
     -->
    <div class="schedule-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-12 col-md-12 text-center">
                    <div class="offer-content animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                        <h2>Want to increase your sales with E-app?</h2>
                        <h3>On Mobile And Desktop</h3>
                        
                        <a href="#" class="btn-mr tp-primary ">Schedule a phone call or demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
   ================================
    Speciall offer end
    =================================
     -->