 <!-- 
   ================================
    our team start
    =================================
     -->
    <div class="our__team__area">
        <div class="container">
            <div class="row">
                <div class="col col-12 text-center">
                    <h2 class="section-title"><span>our Leadership</span> Team</h2>
                </div>
                <!-- end section tiitle -->
            </div>
            <div class="spacer-1"></div>
            <!-- end spacer -->
            <!-- end row -->
            <ul class="row team-active group owl-carousel">
                <li class="list-group-item animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="single-team">
                        <img src="/images/michael-potter.jpg"  alt="michael-potter">
                        <h4>Michael Potter</h4>
                        <h5>CEO</h5>
                    </div>
                </li>
                <!-- end single team -->
				 <li class="list-group-item animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="single-team">
                        <img src="/images/bill-dean.jpg"  alt="michael-potter">
                        <h4>Michael Potter</h4>
                        <h5>CEO</h5>
                    </div>
                </li>
                <!-- end single team -->
				 <li class="list-group-item animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="single-team">
                        <img src="/images/lanna-potter.jpg"  alt="michael-potter">
                        <h4>Michael Potter</h4>
                        <h5>CEO</h5>
                    </div>
                </li>
                <!-- end single team -->
				 <li class="list-group-item animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="single-team">
                        <img src="/images/scott-jones.jpg"  alt="michael-potter">
                        <h4>Michael Potter</h4>
                        <h5>CEO</h5>
                    </div>
                </li>
                <!-- end single team -->
				
                
            </ul>
            <!-- end row -->
        </div>
    </div>

    <!-- 
   ================================
    our team End
    =================================
     -->