 <!-- 
   ================================
    testimonials section two start
    =================================
     -->
    <div class="testimonials-sectionA2">
        <div class="container">
            <div class="row">
				
                <div class="col col-12 text-center">
                    <h2 class="section-title">our client  <span>reviews</span></h2>
                </div>
                <!-- end section tiitle -->
            
            <div class="spacer-1"></div>
			
                <div class="col-12">
                    <div class="tesBoxWrapper">
                        <div class="minni--boxWrapper">
                            
                            <div class="tstiText-active owl-carousel animation" data-animation="fadeInDown" data-animation-delay="0.1s">
                                <div class="singleTtext">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <h4> <span>Esita Riti</span> ( Executive )</h4>
                                </div>
                                <!-- end single text -->
                                <div class="singleTtext">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <h4> <span>Esita Riti</span> ( Executive )</h4>
                                </div>
                                <!-- end single text -->
                                <div class="singleTtext">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <h4> <span>Esita Riti</span> ( Executive )</h4>
                                </div>
                                <!-- end single text -->
                            </div>
                            <!-- end testimonilas active  -->
							<div class="row testi-user">
                                <div class="col-lg-6 offset-lg-3 animation" data-animation="fadeInbottom" data-animation-delay="0.1s">
                                    <div class="testImg-active owl-carousel">
                                        <div class="singleTesimgThumb">
                                          <!--  <img src="assets/images/customr-review/tm1.png" alt=""> -->
											<i class="fa fa-user"></i>
                                        </div>
                                        <!-- end single img -->
                                        <div class="singleTesimgThumb">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <!-- end single img -->
                                        <div class="singleTesimgThumb">
                                            <img src="assets/images/customr-review/tm3.png" alt="">
                                        </div>
                                        <!-- end single img -->
                                        <div class="singleTesimgThumb">
                                            <img src="assets/images/customr-review/tm1.png" alt="">
                                        </div>
                                        <!-- end single img -->
                                    </div>
                                    <!-- end testi img active carosle -->
                                </div>
                                <!-- end column -->
                            </div>
                            <!-- inner row -->
                        </div>
                        <!-- mini box wrapper -->
                    </div>
                    <!-- end testimonials box wrapper -->
                </div>
            </div>
        </div>
    </div>

    <!-- 
   ================================
    testimonials section two end
    =================================
     -->